<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SamProject">
	<listeners>
		<listener class-name="com.SamProject.utilities.Reporting" />
	</listeners>

	<test name="LoginTest">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.SamProject.testCases.TC_002" />
			
		</classes>

	</test>

</suite>